### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
### All Directories in the .idea directory###
/All Deisgn Patterns/Design Patterns/.idea/**
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/Desing-Patterns.iml
/.idea/checkstyle-idea.xml
/Design Principles/Design Principles.iml
/All Deisgn Patterns/All Deisgn Patterns.iml
/.idea/.gitignore
